input {
  file {
    type => "linux-syslog"

    # Wildcards work, here :)
    path => [ "/var/log/*.log", "/var/log/messages", "/var/log/syslog" ]
  }

}

output {
  stdout { 
    debug => true 
  }
  
  redis { 
    host => "{{ with_redis_server_ip }}"
    port => {{ with_redis_server_port }}
    data_type => "list" 
    key => "{{ with_redis_server_key }}"
  }
}
