input {
  redis {
    host => "{{ with_redis_server_ip }}"
    port => {{ with_redis_server_port }}
    type => "redis-input"
    # these settings should match the output of the agent
    data_type => "list"
    key => "{{ with_redis_server_key }}"
  }
}

output {
  stdout { debug => true }

  elasticsearch {
    host => "{{ with_elasticsearch_ip }}"
    port => "{{ with_elasticsearch_port }}"
  }
}