input {
  file {
    type => "linux-syslog"

    # Wildcards work, here :)
    path => [ "/var/log/*.log", "/var/log/messages", "/var/log/syslog" ]
  }

}

output {
  stdout { debug => true debug_format => "json"}
  redis { host => "{{ with_redis_server_ip }}" data_type => "list" key => "logstash" }
}
